[workspace]
resolver = "3"
members = [
  "crates/stellatune-audio",
  "crates/stellatune-core",
  "crates/stellatune-decode",
  "crates/stellatune-dsp",
  "crates/stellatune-ffi",
  "crates/stellatune-library",
  "crates/stellatune-output",
]

[workspace.package]
license = "MIT"

[workspace.lints.rust]
unexpected_cfgs = { level = "warn", check-cfg = ['cfg(frb_expand)'] }

[workspace.dependencies]
stellatune-audio = { path = "crates/stellatune-audio" }
stellatune-core = { path = "crates/stellatune-core" }
stellatune-decode = { path = "crates/stellatune-decode" }
stellatune-dsp = { path = "crates/stellatune-dsp" }
stellatune-ffi = { path = "crates/stellatune-ffi" }
stellatune-library = { path = "crates/stellatune-library" }
stellatune-output = { path = "crates/stellatune-output" }

anyhow = "1.0.100"
crossbeam-channel = "0.5.15"
flutter_rust_bridge = "=2.11.1"
ringbuf = "0.4.8"
serde = { version = "1", features = ["derive"] }
thiserror = "2.0.18"
cpal = "0.17.1"
symphonia = { version = "0.5.5", default-features = false, features = ["mp3", "flac", "wav"] }
rubato = "1.0.1"
audioadapter-buffers = "2.0.0"
tracing = "0.1.41"
tracing-subscriber = { version = "0.3.19", features = ["env-filter"] }
