name: Flutter CI

on:
  push:
  pull_request:

jobs:
  build:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: 'stable'
          cache: true

      - name: Install dependencies
        run: flutter pub get
        working-directory: apps/stellatune

      - name: Flutter Analyze
        run: flutter analyze
        working-directory: apps/stellatune

      - name: Flutter Build Check (Windows)
        run: flutter build windows --debug
        working-directory: apps/stellatune
